@charset  "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');

* {
    padding: 0px;
    margin: 0px;
}

html, body {
    background-color: rgb(209, 209, 209);
    min-height: 100vh;
}

:root {
    --color0: #ffffff;
    --color1: #000000;
    --color2: #00000071;
    --fonte0: Verdana, Geneva, sans-serif; 
    --fonte1: 'Caveat', cursive;
    --fonte2: 'DynaPuff', cursive;
}

header {
    background-color: var(--color1);
    color: var(--color0);
    text-align: center;
}

header>h1 {
    padding-top: 40px;
    font-size: 6vw;
    font-variant: small-caps;
    font-family: var(--fonte2);
}

header >p {
    padding-bottom: 30px;
}

header a, footer a {
    text-decoration: none;
    font-weight: bolder;
    color:var(--color0);
}

header a:hover, footer a:hover {
    text-decoration: underline;
}
div {
    padding-top: 5vh;
    padding-bottom: 5vh;
    padding-left: 4vh;
    padding-right: 4vh;
}
div > p{
    font-family: var(--fonte1);
    font-size: 1.9em;
    line-height: 1.5em;
    padding-bottom: 1em;
}

div.diferente {
    text-align: left;
    background-color: var(--color2);
    color: var(--color0);
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.493);
    background-size: cover;
    background-attachment: fixed;
    }

div.diferente > p {
    background-color: var(--color2);
    display: inline-block;
    padding: 0px 10px;
    text-shadow: 2px 2px 3px black;
}

div#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
    
}

div#img02 {
    background-image: url('../imagens/background002.jpg');
    
}

div.normal {
    text-align: left;
}

footer {
    background-color: var(--color1);
    color: var(--color0);
    padding: 5px;
    text-align: center;
}